/*---------About--------*/
#about {
  background-size: cover;
  background-position: center center;

  display: -ms-flexbox;
  display: flex;

  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: right;
}

#about {
  padding-top: 100px;
}

.about-image-thumb img {
  border-radius: 5px;
  margin-bottom: 22px;
}

.about-image-thumb .social-icon li a {
  background: #f0f0f0;
}

.about-thumb {
  padding: 32px 12px;
}

.about-thumb p {
  padding: 2px 0;
}
/*header socials*/
.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header_socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: #f0f0f0;
}

.pic-img {
  margin: auto 100px;

  float: left;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}
