/*---------------------------------------
  Service section              
-----------------------------------------*/

.service-thumb {
  background-color: white;
  border-radius: 5px;
  padding: 42px 22px;
  cursor: crosshair;
  position: relative;
  top: 0;

  transition: all ease-in-out 0.4s;
}

.service-thumb:hover {
  background: #2b2b2b;
  top: -5px;
}

.service-thumb:hover .fa,
.service-thumb:hover h4 {
  color: #ffffff;
}

.service-thumb h4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.service-thumb .fa {
  color: #7682cc;
  font-size: 62px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 22px;
}

.bg-grey .fa {
  color: #ffffff;
}

/*---------------------------------------
  Work section              
-----------------------------------------*/

.work-thumb {
  margin: 22px 0 12px 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.work-thumb img {
  border-radius: 5px;
}

.work-thumb h2 {
  font-size: 25px;
}

.work-thumb-overlay {
  position: absolute;
  background: #7682cc;
  border-radius: 5px;
  cursor: crosshair;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 82px 42px;

  transition: all ease-in-out 0.4s;
}

.work-thumb:hover .work-thumb-overlay {
  opacity: 1;
}
