.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 85%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 30px;
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.logo:hover {
  cursor: default;
}
.navbar a {
  font-size: 23px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.4s;
}
.navbar a:hover {
  color: grey;
  text-decoration: underline;
}

.bottom-navbar {
  background: rgba(87, 84, 84, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 3;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}
.bottom-navbar a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flexbox;
  color: var(--color-light);
  font-size: 1.1rem;
}
.bottom-navbar a:hover {
  background: rgb(0, 0, 0, 0.2);
}

nav a.active {
  background: var(--color-bg);
  color: var(--color-white);
}
